.sideNav {
    grid-area: side;
    background-color: #fbb;

    & .sideNavTitleContainer {
        display: flex;
        height: 50px;
        align-items: center;

        & .spacer {
            flex: 1;
        }

        & .sideNavTitle {
            flex: 3;
            margin: 0;
        }
    }

    & .sideNavBtn {
        padding: 12px;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    & .icon {
        flex: 1;
        font-size: 24px;
    }

    & .sideNavBtnText {
        flex: 3;
        font-size: 18px;
    }

    & .sideNavBtn:visited {
        color: black;
    }
    & .sideNavBtn:hover {
        background-color: color(#fbb alpha(75%) blackness(10%));
    }
}
